<div [style.filter]="modalService.activeModal() ? 'blur(2px)' : 'none'"
    [style.pointerEvents]="modalService.activeModal() ? 'none' : 'auto'" style="transition: all 0.3s;">
    <router-outlet></router-outlet>
</div>
<!-- Modals -->
<app-create-post *ngIf="modalService.activeModal() === 'create-post'"></app-create-post>
<app-edit-post *ngIf="modalService.activeModal() === 'edit-post'"></app-edit-post>
<app-post-details *ngIf="modalService.activeModal() === 'post-details'"
    [post]="modalService.modalData()"></app-post-details>
<app-create-user *ngIf="modalService.activeModal() === 'create-user'"></app-create-user>
<app-edit-profile-modal *ngIf="modalService.activeModal() === 'edit-profile'"></app-edit-profile-modal>

<app-admin-edit-user *ngIf="modalService.activeModal() === 'admin-edit-user'"></app-admin-edit-user>
